$commonsAccent: #51b953;

@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin circular($radius) {
  width: $radius*2;
  height: $radius*2;
  @include border-radius($radius);
}

